<div style="padding:5px 0">
  <div style="float:right;color:#999">
    <%= comment.created_at.to_datetime.strftime('%Y-%m-%d %H:%M:%S') %>
  </div>
  <div>
    <strong><%= comment.name %></strong>:
  </div>
  <div>
    <%= comment.content %>
  </div>
</div>
