body {
    background-color: #B9B9B9;
}

.container {
    width: 900px;
}

#wrapper {
    padding: 20px 40px;
    margin: 0px;
    min-height: 420px;
    background-color: #FFF;
}

#main {
    margin-bottom: 40px;
}

#flash_notice, #flash_error {
    padding: 2px 8px;
    margin-bottom: 10px;
    width: 70%;
}

#flash_notice {
    background-color: #CFC;
}

#flash_error {
    background-color: #FCC;
}

.fieldWithErrors {
    display: inline;
}

#errorExplanation {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
}

#errorExplanation ul {
    margin: 2px 24px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: disc;
}

#info                      { text-align: right; background-color: #444; color:#CCC; font-size:10px; padding:0.45em 1em; position:relative; }
#info #navigation          { display:inline; font-size:12px; }
#info #navigation a        { text-decoration:none; color:#CCC; }
#info #navigation a:hover  { color:#EEE; }

#header           { height:66px; margin:0; padding=0; position:relative; text-align:center; width:100%; }
#header .logo     { position:absolute; top:20px; left:32px; }
#header .logo h1  { font-size: 28px; }
#header a         { color:#FFF; }

#search .input {
    float: left;
    margin: 0;
    padding: 0;
}

#search .input input[type="text"] {
    font-size: 200%;
    padding: 2px;
    text-align: left;
    height: 29px;
    width: 700px;
}

#search .submit {
    float: left;
    margin: 12px 0 0 0;
    padding: 0;
}

#search .submit input[type="submit"] {
    height: 35px;
    padding: 2px;
    margin: 0;
    text-align: center;
    width: 100px;
    background-color: #E0E0E0;
    border: 1px solid #CCC;
}

#q {
    background-color: #FFFFDD;
    color: #222;
}

#search .type {
    text-align: center;
}

#footer {
    min-height: 80px;
}

#product-images {
    margin-right: 10px;
    width: 270px;
    float: right;
}

#product-images #main-image {
    min-height: 250px;
    position: relative;
}

#product-images #main-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

ul.thumbnails {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.thumbnails li {
    float: left;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid #ffffff;
    min-height: 50px;
    width: 50px;
    position: relative;
}

ul.thumbnails li img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

ul.thumbnails li:hover {
    border-color: #cccccc;
}

ul.thumbnails li.selected {
    border-color: #999999;
}

.product-listing {
    list-style: none;
    margin-top: 2em;
    padding: 0;
}

.product-listing li {
    height: 160px;
    width: 120px;
    text-align: center;
    float: left;
    margin: 10px 20px 10px 0;
    padding: 10px;
    border: 1px solid #dddddd;
    position: relative;
}

.product-listing li a {
    display: block;
    text-decoration: none;
    color: #111111;
}

.product-listing li a.info {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    width: 130px;
    min-height: 60px;
    background-color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

.product-listing li a.info span {
    display: block;
}

.product-listing li:hover {
    border-color: #777777;
}

.product-listing li:hover a.info {
    background-color: #777777;
    color: #FFFFFF;
}

.product-listing li a.info span.name {
    color: #2E6AB1;
}

.product-listing li a.info span.store {
    font-weight: normal;
}

h1 a {
    text-decoration: none;
}

#map_canvas { float:right; margin: 0 0 20px 20px; border:1px solid #DDD; padding:0px; }