<% title @products.first.user.store_name %>

<div style="border-bottom:1px solid #DDD;margin-bottom:10px">
  <h3>Products</h3>
</div>
<table>
  <% for product in @products %>
    <tr>
      <td><%= link_to h(product.name), [:admin, product] %></td>
      <td style="text-align:right"><%= link_to "Destroy", [:admin, product], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Product", new_admin_product_path %>
