<% if product.images.size > 1 %>
  <ul id="product-thumbnails" class="thumbnails">
    <% product.images.each do |i| %>
      <li>
        <a href="<%= cloudfront(i.attachment.url(:original)) %>" class="cloud-zoom-gallery" rel="useZoom: 'zoom-product', smallImage: '<%= cloudfront(i.attachment.url(:product)) %>'"> 
          <img src="<%= cloudfront(i.attachment.url(:mini)) %>" />
	</a>
      </li> 
    <% end %>
  </ul>
<% end %>
