<% title "Products" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%=h product.name %></td>
      <td><%=h product.description %></td>
      <td><%= link_to "Show", product %></td>
    </tr>
  <% end %>
</table>

