<% title "Products" %>

<% form_tag products_url, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :size => "25" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
  <% for product in @products %>
    <li>
      <%= link_to h(product.name), product %>
      <%= number_to_currency product.price %>
    </li>
  <% end %>
</ul>

