<% title "Product" %>

<p>
  <strong>Name:</strong>
  <%=h @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @product.description %>
</p>

<p>
  <%= link_to "View All", products_path %>
</p>
