<% title "Product" %>

<p>
  <strong>Store:</strong>
  <%= link_to @product.user.username, store_path(@product.user.username) %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @product.description %>
</p>

<% for image in @product.images %>
  <%= image_tag image.attachment.url(:mini) %>
<% end %>
