<% form_for @image, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :attachment %><br />
    <%= f.file_field :attachment %>
  </p>
  <p><%= f.submit %></p>
<% end %>
